@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="ftco-section ftco-intro" style="background-image: url(/carbook-master/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <h2 class="mb-3">Araba sürmek vakit Kaybı diye düşünüyorsanız. Sürücü Kiralamak isteyebilirsiniz. </h2>
                <a href="#" class="btn btn-primary btn-lg">Sürücü Kirala!</a>
            </div>
        </div>
    </div>
</section>